= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .input-field
    = f.text_field :name, {:class => "validate"}
    = f.label :name
  .input-field
    = f.text_field :description, {:class => "validate"}
    = f.label :description
  .input-field
    = select("user", "id", User.all.collect {|u| [ u.name, u.id ] })
    = f.label :user
  .input-field
    = f.submit
