.row
  .col.s12
    %p#notice= notice
    %p
      %strong Name:
      = @project.name
    %p
      %strong Description:
      = @project.description
    %p
      %strong User:
      = @user.name if @user
    = link_to 'Edit', edit_project_path(@project)
    |
    = link_to 'Back', projects_path
