- provide :title, "Tasks"
.row
  .col.s12.m8.offset-m2

    .card
      .card-content
        %p
          %strong Name:
          = @task.name
        %p
          %strong Description:
          = @task.description
        %p
          %strong Project:
          = link_to @task.project.name, @task.project

    - if user_signed_in?
      .card
        .card-content
          .row
            .col.s2
              #timer-form-wrapper
                = render "timers/form", timer: @timer, task: @task
            .col.s10#card-timer
              %span#timer.card-title

      .card
        .card-content#timers-card
          %span.card-title Timers
          = render @timers

    - if @task.comments.any?
      %h4 Comments
      - @task.comments.each do |comment|
        .card
          .card-content
            %span.card-title
              =comment.author
            %p
              = comment.body
            %p
              = link_to [@task, comment], method: :delete do
                %i.material-icons delete


    .card
      .card-content
        %span.card-title Add a Comment
        = form_for [@task, @task.comments.build] do |f|
          .input-field
            = f.text_field :author
            = f.label :author
          .input-field
            = f.text_area :body, { class: "materialize-textarea" }
            = f.label :body
          .input-field
            = f.submit "Submit Comment", { class: "btn waves-effect waves-light"}
    %br
    = link_to 'Edit', edit_task_path(@task), class: 'btn waves-effect waves-light'
    = link_to 'Back', tasks_path, class: 'btn waves-effect waves-light'
