.row
  .col.s12.m8.offset-m2
    %p#notice= notice
    %p
      %strong Name:
      = @task.name
    %p
      %strong Description:
      = @task.description
    %p
      %strong Project:
      = @project.name

    %h3 Comments
    - @task.comments.each do |comment|
      %p
        %strong Author:
        = comment.author
      %p
        %strong Comment:
        = comment.body
      %p
        = link_to "Delete", {:controller => 'comments', :action => "destroy", :task_id => @task.id, :id => comment.id}, :method=> :delete
    %h3 Add a Comment
    = form_for([@task, @task.comments.build]) do |f|
      .input-field
        = f.text_field :author
        = f.label :author
      .input-field
        = f.text_area :body, { :class => "materialize-textarea" }
        = f.label :body
      .input-field
        = f.submit "Submit Comment", { :class => "btn waves-effect waves-light"}
    %br
    = link_to 'Edit', edit_task_path(@task), :class => 'btn waves-effect waves-light'
    = link_to 'Back', tasks_path, :class => 'btn waves-effect waves-light'
    %br
    = link_to :controller => :tasks, :action => :start_timer, :class => 'btn waves-effect waves-light' do
      %i.material-icons play_arrow

    -# = link_to 'play', { :controller => 'task', :action => 'start_timer', :id => @task.id }, :method => :post
      -# %a.btn-floating.btn-large.waves-effect.waves-light.blue#stop-button
      -#   %i.material-icons play_arrow
