<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'task_timer_xxs.png' %>
</head>
<body>
  <header>
      <nav class="nav">
        <%= link_to image_tag( "icon_128.png", alt: "Task Timer" ),
          { :controller => 'pages', :action => 'home'},
          { :class => 'logo'} %>

        <ul class="menu">
          <li>
            <%= link_to "Home", { :controller => 'pages', :action => 'home'} %>
          </li>
          <li>
            <%= link_to "Users", { :controller => 'users', :action => 'index'} %>
          </li>
          <li>
            <%= link_to "Projects", { :controller => 'projects', :action => 'index'} %>
          </li>
          <li>
            <%= link_to "Tasks", { :controller => 'tasks', :action => 'index'} %>
          </li>
          <li>
            <%= link_to "About", { :controller => 'pages', :action => 'about'} %>
          </li>
        </ul>
      </nav>
  </header>

  <div id="wrapper">
    <%= yield %>
  </div>


</body>
</html>
