!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'icon_32.png'
  %body
    %header
      %nav.nav-wrapper
        = link_to image_tag( "icon_128.png", alt: "Task Timer" ), pages_home_path,
              class: 'brand-logo left'
        %ul#nav-mobile.right

          %li
            = link_to "Home", pages_home_path
          %li
            = link_to "Projects", projects_path
          %li
            = link_to "Tasks", tasks_path
          %li
            = link_to "About", pages_about_path
    #wrapper
      %p.notice
        = notice
      %p.alert
        = alert
      = yield
